<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes Page</title>
</head>
<body>
    <h1>Welcome, {{user.name}}!</h1>
	<a href="/logout">Logout</a>

	<!-- Quotable Quotes -->
	<p>Quotable Quotes:</p>
	<div id="quotes" style="overflow:scroll; height:300px;">
		{% for quote in quotable_quotes %}
			<div class = "one_quote" style="border: 1px black solid; width: 350px">
				<p>{{quote.author}}:{{quote.content}}</p>
				<p>posted by:<a href="/users/{{quote.poster.id}}">{{quote.poster.name}}</a></p>
				<a href="/add_favorite/{{quote.id}}">Add to My List</a>
			</div>
		{% endfor %}
	</div>

<!-- User's Favorite Quotes -->
	<p>Your Favorite quotes:</p>
	<div id="quotes" style="overflow:scroll; height:400px;">
	{% for favorite in favorites %}
	<div class="one_quote" style="border: 1px black solid; width: 350px">
			<p>{{favorite.author}}:{{favorite.content}}</p>
			<p>posted by:<a href="/users/{{favorite.poster.id}}">{{favorite.poster.name}}</a></p>
			<a href="/remove_favorite/{{favorite.id}}">Remove from My List</a>
			</div>
	{% endfor %}
	</div>
	<!-- Quote validation messages  -->
	{% if messages %}
		{% for message in messages%}
			{% if 'add_item' in message.tags %}
				<p>{{message}}</p>
			{% endif %}
		{%endfor%}
	{% endif %}

	Write a Quote:
	<form action="/create" method="post">
	{% csrf_token %}
		<label>Quoted By:</label>
		<input type="text" name="author">
		<label>Message:</label>
		<textarea name="content"></textarea>
		<input type="submit" value="Submit">
	</form>
</body>
</html>